/*
 Theme Name:   Braintech Child
 Theme URI:    http://keenitsolutions.com/products/wordpress/braintech/
 Description:  Unitek Child
 Author:       RS Theme
 Author URI:   http://rstheme.com
 Template:     braintech
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
 */

